spring:
  datasource:
    url: jdbc:mariadb://localhost:3306/jwtwebsocket
    driver-class-name: org.mariadb.jdbc.Driver
    username: root
    password: 1234


#  redis:
#    host: localhost
#    password:
#    port: 6379
#    jedis:
#      pool:
#        max-idle: 8
#        min-idle: 0
#        max-active: 8
#        max-wait: -1


  jpa:
    properties:
      hibernate:
        format_sql: true

    hibernate:
      ddl-auto: update
    generate-ddl: true
  profiles:
    include: jwt

server:
  port: 2727
